/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2016, 12:20:28 PM
    Author     : Anto
*/
article {
    overflow: hidden;
}

article section li {
    list-style-type: none;
    text-align:left;
}

article section li a {
    color:black;
}

article section li a:hover {
    color:white;
    background-color:black;
}

article h1 {
    font-size: .9em;
    margin: 0;
    padding: .5rem 1rem;
    background: rgba(0,0,0,.1);
    text-transform: uppercase;
}

article h2 {
    text-align:left;
}

article>div div {
    min-width: 100px;
}

@media (min-width: 600px) {
   article>div>div {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        display: inline-block;
        float: left;
    } 
}

/***********WRAPPER***********************/

.wrapper-iframe {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: white;
    display:none;
    position: fixed;
    left:20px;
    top: 30px;
    z-index: 1045;
    
}

#content-iframe {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#content-iframe div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    position: relative;
    margin-top:44px;
}

#content-iframe button {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    padding: 0 0 18px 10px;
    color: black;
    font-style: normal;
    font-size: 28px;
    font-family: Arial,Baskerville,monospace;
}