/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2016, 12:20:28 PM
    Author     : Anto
*/

article section li {
    list-style-type: none;
}