/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2016, 12:09:56 PM
    Author     : Anto
*/
header {
    margin-left:2.5%;
    margin-top:2.5%;
}

nav {
    background-color:#1e78ab;
    text-transform: uppercase;
    font-weight: bold;
    width:97.5%;
    margin-top:2.5%;
    border-radius: 4px 4px 0 0;
}

#navbar a {
    color:white;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color:rgb(90, 154, 191);
}

.logo-img {
    display:flex;
    align-items:center;
    margin-bottom: 15px;
}

.logo-img h1 {
    display:inline;
    margin:auto;
    margin-left: 150px;
    text-align:center;
    color:#1873da;
    font-family: 'Roboto';
}

.logo-img h1 span {
    font-size: 50%;
}

.logo-a, .logo-a img {
    border:none;
}

.logo-img img {
    width:150px;
}

/****************SLIDER*****************/

section {
    text-align: center;
}

#botones{
    text-align: center;

}
.boton {
    width:11px;
    height:11px;
}

#button_a {
    background: #31a3dd;
    border-width: 0px !important;
    border-radius: 38px;
    letter-spacing: 0px;
    font-size: 22px;
    font-weight: bold !important;
    text-transform: uppercase !important;
    display: inline-block;
    margin-top: 20px;
    color: inherit;
    text-shadow: none;
    text-decoration: none;
    position: relative;
    padding: 0.3em 1em;
    border: 2px solid;
    line-height: 1.7em;
    transition: all 0.2s;
    vertical-align: baseline;
    margin-bottom: 2%;
    color: white;
    box-shadow: 0 9px #999;
}

#button_a:hover {background-color: #2782b0}

#button_a:active {
  background-color: #2782b0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#slide {
    width:100%;
}

.img-row {
    width:100%;
    border-radius: 5%;
}

/**********WRAPPER******************/

#wrapper-main {
    width:95%;
    margin-left:2.5%;
    margin-bottom:2.5%;
}

.title-tutorial {
    text-decoration:underline;
}

.element-hidden {
    display:none;
}

#padre-div {
    border: 2px solid black;
}

#star-wars {
    text-align:center;
   
}

#star-wars img {
    height:150px;
     margin-top: 2%;
     border-radius: 20px;
}

#darth-vader-img {
    display:block;
    margin-left: 35%;
}

#luke {
    display:inline;
    margin-right: 2%;
}

#leia {
    display: inline-block;
    margin-left:2%;
}

#kylo img {
    display:block
}

#p-dis, #quicksilver {
    display:block;
    width:25%;
}

#flash2, #quicksilver2, .superhero {
    width:25%;
    margin-left:20px;
    margin-bottom:20px;
}

#square {
    position: relative;
    background-color: #abc;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.square2 {
    background-color: #abc;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 10px;
}
  
#square2 {
    height: 100px;
}

#hoverme-stop-2 img, #hoverme1 {
    height:150px;
}

#hoverme-stop-2, #hoverme-stop-1 {
    height:200px;
}

#inputPrueba {
    margin-left: 2.5%;
    width: 30%;
}

.yellow, .yellow2, .yellow3 {
    background: yellow;
    margin: 6px 0;
}

#google {
    color:red;
}

.specialBig {
    font-size: 100%;
    color:blue;
}

.specialLittle {
    font-size: 200%;
    color:red;
}

#caja_negra {
    height: 100px;
    width:500px;
    background:black;
    position:relative;
}

#blanco {
    color:white;
}

#boxQ {
    margin: 3px;
    width: 40px;
    height: 40px;
    position: relative;
    left: 0px;
    top: 60px;
    background: green;
    display: none;
}

#contQ {
    height: 150px;
}

/***********FOOTER***********************/

footer p {
    clear:both;
    text-align: center;
    color:#1873da;
    text-transform: uppercase;
    font-size:15px;
}